@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Scope+One&display=swap');


body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'DM Sans', sans-serif;
    background: url('../media/backdrops/body-background1.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
}


/*--------------------------------nav bar---------------------*/
.navbar {
    min-height: 8vh;
}

.navbar-brand span {
    font-size: 1rem;
    margin-left: 10px;
}

.bg-custom {
    background-image: linear-gradient(90deg, rgba(78, 117, 98, 1) 4%, rgba(219, 219, 219, 1) 85%);
}

/*--------------------------------landing page---------------------*/

.hero-image {
    background: url('../media/backdrops/main-hero.jpg');
    height: 92vh;
    background-position: 65%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.hero-text {
    margin: 0 auto;
    width: 60%;
    text-align: center;
    padding-top: 5%;
}

.hero-text h1 {
    font-family: 'Scope One';
    font-size: 300%;
    padding-top: 5%;
    text-transform: capitalize;
}

.hero-text p {
    font-weight: 500;
}

/*--------------------------------map sections---------------------*/

.map-landing {
    cursor: pointer;
}

#map {
    height: 70vh;
    min-width: 300px;
    margin-top: 10px;
    border-radius: 8px;
}

.map-landing p {
    text-align: center;
    
}

.map-content {
    margin: 10px 15px 10px 15px;
    padding: 30px;
    border: 0.1rem solid black;
    border-radius: 8px;
    line-height: 1.1;
    background: rgba(231, 231, 231, 0.3);
    color: #222;
}

.beach-images {
    text-align: center;
}

.beach-images img {
    border-radius: 8px;
    max-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.map-content h5,
h6 {
    text-align: center;
    text-transform: uppercase;
    padding-top: 5px;
}

.map-content p {
    text-align: center;
}

.map-content ul {

    text-transform: capitalize;
}

.surf-partners-main {
    margin: 10px;
}

.surf-partners img {
    width: 120px;
    height: 120px;
    margin: 5px;
    background-color: white;
}

.surf-partners-wide img {
    width: 180px;
    height: 120px;
    margin: 5px;
}

/*--------------------------------contact---------------------*/

.contact-image {
    background: url('../media/backdrops/contack-background.jpg');
    height: 90vh; 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.contact-top {
    text-align: center;
    padding-top: 25%;
}

.contact-top p {
    font-size: 18px;
    min-width: 250px;
    color: #1a1a1a;
}

.main-form {
    background: rgba(255, 255, 255, 0.4);
    max-width: 300px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 8px;
    margin: 0 auto;
}

#form input[type="text"],
#form textarea {
    background-color: transparent;
    color: #111111;
    border: 2px solid #5c5c5c;
    border-radius: 8px;
    padding-left: 2px;
}

.field {
    margin-bottom: 10px;
}

.field * {
    display: block;
    margin: 0 auto;
    min-width: 250px;
    line-height: 1.5;
    font-size: 14px;
    
}

input[type="submit"] {
    display: block;
    margin: 0 auto;
    padding: 6px 30px;
    font-size: 14px;
    background-color: rgba(114, 188, 195, 0.7);
    color: #111;
}

.button:hover {
    background-color: rgba(114, 188, 195, 1);
}

.contact-button {
    padding-top: 10px;
}

/*--------------------------------Footer---------------------*/


.footer-bg {
    background-color: #ecaf9c;
    height: 10vh;
    position: relative;
}

.fab {

    padding: 7px 12px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 15%;
}

.fab:hover {
    opacity: 0.7;
}

.footer-icons {
    left: -10px;
    top: 3vh;
}

.fa-facebook-f {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}


/*-------------------media Query ----------------*/


@media only screen and (max-width: 374px) {
    .surf-partners img {
        width: 95px;
        height: 100px;
    }

    .surf-partners-wide img {
        width: 150px;
        height: 100px;
    }

  .footer-icons {
    left: -1px;
    padding: 0;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 415px) {
    .hero-text p {
        padding-top: 25px;
        margin: 0 auto;
        max-width: 250px;
        justify-content: center;
        font-size: larger;
    }

    #map {
        height: 60vh;
    }


    .map-content {
        height: 60vh;
        padding-top: 10px;    
    }

    .surf-partners img {
        width: 90px;
        height: 90px;
        
    }
    
    .surf-partners-wide img {
        width: 140px;
        height: 90px;   
    }

    .surf-partners-main {
        padding-top: 5vh;
        padding-bottom: 5vh;
       }

    .field * {
        min-width: 350px;
    }

    .main-form {
        max-width: 400px;
    }
    
}

@media only screen and (min-width: 530px) {
    
    #map {
        height: 80vh;
        min-width: 250px;
    }

    .map-content {
        height: 80vh;
        padding-left: 5px;  
        padding-right: 5px;
        margin: 10px 10px 0 0;
        font-size: smaller;
      
    }


    .surf-partners img {
        width: 50px;
        height: 50px;
        
    }
    
    .surf-partners-wide img {
        width: 70px;
        height: 50px;   
    }


}

@media only screen and (min-width: 768px) {

    .map-content {
        font-size: 1.1rem;
    }

    .surf-partners img {
        width: 90px;
        height: 90px;
        
    }
    
    .surf-partners-wide img {
        width: 140px;
        height: 90px;   
    }
}

@media only screen and (min-width: 1024px) {

    .hero-image {
        background-position: bottom center ;
    }
            
    .hero-text h1 {
        padding: 0;
    }

    .hero-text p {
        padding-top: 25px;
        margin: 0 auto;
        max-width: 250px;
        justify-content: center;
    }

    #map {
        height: 70vh;
    }

    .map-content {
        height: 70vh;
        padding-top: 10px;
        
    }

    .map-content p {
        padding: 5px 15px 0px 15px;
        
    }

    .beach-images img {
        width: 60%;
    }

    .surf-partners-main {
     min-height: 30vh;
     padding-top: 5vh;
    }

    .surf-partners img {
        width: 150px;
        height: 150px;
        
    }
    
    .surf-partners-wide img {
        width: 220px;
        height: 150px;   
    }

    .contact-top {
     padding-top: 5%;
     }

     .field * {
         min-width: 500px;
     }

     .main-form {
         max-width: 600px;
     }

}

@media only screen and (min-width: 1024px) {
    .map-content {
        font-size: 1rem;
    }
}